<div class="hidden space-x-1 place-items-start group sm:flex " >
<div class="relative inline-block text-center pr-2
cursor-pointer  items-center p-1  text-sm transition-colors rounded-t-sm mr-0  align-center
  pb-1 text-primary-100 after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-600 after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100
">
  <button class="flex items-center text-gray-500 dropdown-menu-button hover:text-blue-500" >
    <i class='bx bx-analyse text-sellar-primary group-hover:rotate-180' ></i>

    <span  class="ml-auto hover:text-blue-200"
     >
     <i class='bx bx-chevron-down text-sellar-primary group-hover:rotate-180' ></i>
 
    </span>
  </button>
  <div
    class="absolute z-50 invisible py-0 pr-2 mt-0 -ml-20 shadow-lg group-hover:visible group-focus-within:block min-w-max rounded-xl h-fit ">

    <div
      class="invisible transition-all duration-300 origin-top-right transform scale-95 -translate-y-2 opacity-0 group-hover:visible group-hover:translate-y-0 group-hover:scale-100 group-hover:opacity-100 bg-yellow-300">
      <div
        class="absolute left-0 mt-2 origin-top-right  border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none w-fit"
        role="menu">
        <div class="px-4 py-3">
          <p class="text-sm leading-5">Menu X</p>
          <p class="text-sm font-medium leading-5 text-gray-900 truncate border-2">....</p>
        </div>

        <div class="bg-white flex flex-col shadow-sm">
          <div class="w-[401px] max-w-full ml-8 mt-9 px-5 self-start max-md:ml-2.5">
            <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
              <div class="flex flex-col items-stretch w-6/12 max-md:w-full max-md:ml-0">
                <div class="flex grow flex-col max-md:mt-10">
                  <div class="items-start self-stretch flex justify-between gap-2.5">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Support Center
                    </div>
                  </div>
                  <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Support Plans
                    </div>
                  </div>
                  <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Guides
                    </div>
                  </div>
                  <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Customer Stories
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col items-stretch w-6/12 ml-5 max-md:w-full max-md:ml-0">
                <div class="flex flex-col max-md:mt-10">
                  <div class="self-stretch flex items-start justify-between gap-2.5">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Blog
                    </div>
                  </div>
                  <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Annual Conference
                    </div>
                  </div>
                  <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                    <img loading="lazy" src=""
                      class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                    <div
                      class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                      Contact Sales
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="items-start rounded bg-slate-100 flex w-[604px] max-w-full flex-col mt-7 mb-1 pl-7 pr-20 py-7 self-start max-md:px-5">
            <div
              class="items-start flex w-[470px] max-w-full justify-between gap-5 pr-20 py-0.5 self-start max-md:flex-wrap max-md:pr-5">
              <div class="items-start flex flex-col self-start">
                <div class="self-stretch flex items-start justify-between gap-2.5">
                  <img loading="lazy" src=""
                    class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                  <div class="text-sky-950 text-sm font-medium leading-5 tracking-wide self-start">
                    Jobs
                  </div>
                </div>
                <div class="items-start self-stretch flex justify-between gap-2.5 mt-1.5">
                  <img loading="lazy" src=""
                    class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                  <div
                    class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                    Newsroom
                  </div>
                </div>
              </div>
              <div class="items-start flex flex-col self-start">
                <div class="items-start self-stretch flex justify-between gap-2.5">
                  <img loading="lazy" src=""
                    class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                  <div
                    class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                    Stripe Press
                  </div>
                </div>
                <div class="items-start self-stretch flex justify-between gap-2.5 mt-4">
                  <img loading="lazy" src=""
                    class="aspect-square object-contain object-center w-4 overflow-hidden max-w-full self-start" />
                  <div
                    class="text-sky-950 text-sm font-medium leading-5 tracking-wide whitespace-nowrap self-start">
                    Become a Partner
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>