# created by virtualenv automatically
backend/
# Python
*.pyc
__pycache__/

# Environment
.env
env.dev

# Django
db.sqlite3
/static/
media/

# Celery
celerybeat-schedule
celerybeat-schedule.*

# Other
*.log

# frontend
/web/nodes_modules

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
backup_ficc.sql
data_only.sql
# System files
.DS_Store
Thumbs.db
