# created by virtualenv automatically
backend/
# Python
*.pyc
__pycache__/

# Environment
.env
env.dev

# Django
db.sqlite3
/static/
media/

# Celery
celerybeat-schedule
celerybeat-schedule.*
data_only.sql
backup_ficc.sql

# Other
*.log

# frontend
/web/nodes_modules/