<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" class="w-full p-2 bg-[#fcfcfa]">
  <mat-tab>
    <ng-template mat-tab-label class="items-center space-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" />
      </svg>

      <h5 class="self-center p-1 text-default-primary ">FX Dashboard</h5>
    </ng-template>
    <main class="grid grid-cols-1 gap-4 p-4 border-4 ">

      <div class="grid grid-cols-1 gap-4 p-4    border-2 ">

        <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-4 ">
          <div>
            <app-stat [icon]="'star_order'" [count]="orders_count" [label]="'Orders'"></app-stat>
          </div>
          <div class="mb10">
            <app-stat [icon]="'rate_review'" [count]="reviews_count" [label]="'Reviews'"></app-stat>
          </div>
          <div class="mb10">
            <app-stat [icon]="'mouse'" [count]="clicks_count" [label]="'Clicks'"></app-stat>
          </div>
          <div class="mb10">
            <app-stat [icon]="'share'" [count]="shares_count" [label]="'Shares'"></app-stat>
          </div>
        </div>

        <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-3 ">
          <div *ngFor="let item of cards">
            <mat-card>
              <img mat-card-image [ngSrc]="item.imgSrc" width="100" height="200" priority="true" ngSrcset="100w, 200w">
              <mat-card-header style="justify-content: center">
                <mat-card-title>
                  <h3 class="m-0">{{item.name}}</h3>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                {{item.description}}
              </mat-card-content>
              <mat-card-actions>
                <button color="primary" mat-button>
                  <mat-icon class="location-icon">expand_more</mat-icon>
                </button>
                <button color="primary" mat-button>
                  <mat-icon class="location-icon">share</mat-icon>
                </button>
                <button color="primary" mat-button>
                  <mat-icon class="location-icon">thumb_up</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

      </div>

    </main>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label class="items-center space-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z" />
      </svg>
      <h5 class="self-center p-1 text-default-primary">ALM Dashboard</h5>
    </ng-template>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 ng-star-inserted">
      <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Summary</div>
          <div class="ml-2 -mt-2 -mr-3"><button mat-icon-button=""
              class="mat-mdc-menu-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
              mat-ripple-loader-centered="" aria-haspopup="menu" aria-expanded="false"><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate icon-size-5 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="ellipsis-vertical" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path
                    d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                  </path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button><!----><mat-menu
              class="ng-tns-c185672549-10 ng-star-inserted"><!----></mat-menu></div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">21</div>
          <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Due Tasks</div>
          <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate">Completed:</div>
            <div class="ml-1.5 text-lg font-semibold">13</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Overdue</div>
          <div class="ml-2 -mt-2 -mr-3"><button mat-icon-button=""
              class="mat-mdc-menu-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered="" aria-haspopup="menu"
              aria-expanded="false"><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate icon-size-5 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="ellipsis-vertical" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path
                    d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                  </path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span><span
                class="mat-ripple mat-mdc-button-ripple"></span></button><!----><mat-menu
              class="ng-tns-c185672549-11 ng-star-inserted"><!----></mat-menu></div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">17</div>
          <div class="text-lg font-medium text-red-600 dark:text-red-500">Tasks</div>
          <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate">From yesterday:</div>
            <div class="ml-1.5 text-lg font-semibold">9</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Issues</div>
          <div class="ml-2 -mt-2 -mr-3"><button mat-icon-button=""
              class="mat-mdc-menu-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
              mat-ripple-loader-centered="" aria-haspopup="menu" aria-expanded="false"><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate icon-size-5 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="ellipsis-vertical" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path
                    d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                  </path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button><!----><mat-menu
              class="ng-tns-c185672549-12 ng-star-inserted"><!----></mat-menu></div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">24</div>
          <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Open</div>
          <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate">Closed today:</div>
            <div class="ml-1.5 text-lg font-semibold">19</div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Features</div>
          <div class="ml-2 -mt-2 -mr-3"><button mat-icon-button=""
              class="mat-mdc-menu-trigger mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
              mat-ripple-loader-centered="" aria-haspopup="menu" aria-expanded="false"><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate icon-size-5 mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="ellipsis-vertical" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path
                    d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z">
                  </path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button><!----><mat-menu
              class="ng-tns-c185672549-13 ng-star-inserted"><!----></mat-menu></div>
        </div>
        <div class="flex flex-col items-center mt-2">
          <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">38</div>
          <div class="text-lg font-medium text-green-600 dark:text-green-500">Proposals</div>
          <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
            <div class="text-md font-medium truncate">Implemented:</div>
            <div class="ml-1.5 text-lg font-semibold">16</div>
          </div>
        </div>
      </div>
      <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Github Issues Summary</div>
          <div class="mt-3 sm:mt-0 sm:ml-2"><mat-button-toggle-group role="group" value="this-week"
              class="mat-button-toggle-group mat-button-toggle-group-appearance-standard"
              aria-disabled="false"><mat-button-toggle role="presentation" value="last-week"
                class="mat-button-toggle mat-button-toggle-appearance-standard" id="mat-button-toggle-3"><button
                  type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-3-button"
                  tabindex="0" aria-pressed="false" name="mat-button-toggle-group-0"><span
                    class="mat-button-toggle-label-content">Last Week</span></button><span
                  class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle><mat-button-toggle
                role="presentation" value="this-week"
                class="mat-button-toggle mat-button-toggle-checked mat-button-toggle-appearance-standard"
                id="mat-button-toggle-4"><button type="button" class="mat-button-toggle-button mat-focus-indicator"
                  id="mat-button-toggle-4-button" tabindex="0" aria-pressed="true"
                  name="mat-button-toggle-group-0"><span class="mat-button-toggle-label-content">This
                    Week</span></button><span class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle></mat-button-toggle-group>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
          <div class="flex flex-col flex-auto">
            <div class="font-medium text-secondary">New vs. Closed</div>
            <div class="flex flex-col flex-auto w-fit">
              <app-chart></app-chart>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="font-medium text-secondary">Overview</div>
            <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
              <div
                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight"> 214 </div>
                <div class="mt-1 text-sm sm:text-lg font-medium">New Issues</div>
              </div>
              <div
                class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight"> 75 </div>
                <div class="mt-1 text-sm sm:text-lg font-medium">Closed</div>
              </div>
              <div
                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                <div class="text-5xl font-semibold leading-none tracking-tight"> 3 </div>
                <div class="mt-1 text-sm font-medium text-center">Fixed</div>
              </div>
              <div
                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                <div class="text-5xl font-semibold leading-none tracking-tight"> 4 </div>
                <div class="mt-1 text-sm font-medium text-center">Won't Fix</div>
              </div>
              <div
                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                <div class="text-5xl font-semibold leading-none tracking-tight"> 8 </div>
                <div class="mt-1 text-sm font-medium text-center">Re-opened</div>
              </div>
              <div
                class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                <div class="text-5xl font-semibold leading-none tracking-tight"> 6 </div>
                <div class="mt-1 text-sm font-medium text-center">Needs Triage</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Task Distribution</div>
          <div class="mt-3 sm:mt-0 sm:ml-2"><mat-button-toggle-group role="group" value="this-week"
              class="mat-button-toggle-group mat-button-toggle-group-appearance-standard"
              aria-disabled="false"><mat-button-toggle role="presentation" value="last-week"
                class="mat-button-toggle mat-button-toggle-appearance-standard" id="mat-button-toggle-5"><button
                  type="button" class="mat-button-toggle-button mat-focus-indicator" id="mat-button-toggle-5-button"
                  tabindex="0" aria-pressed="false" name="mat-button-toggle-group-1"><span
                    class="mat-button-toggle-label-content">Last Week</span></button><span
                  class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle><mat-button-toggle
                role="presentation" value="this-week"
                class="mat-button-toggle mat-button-toggle-checked mat-button-toggle-appearance-standard"
                id="mat-button-toggle-6"><button type="button" class="mat-button-toggle-button mat-focus-indicator"
                  id="mat-button-toggle-6-button" tabindex="0" aria-pressed="true"
                  name="mat-button-toggle-group-1"><span class="mat-button-toggle-label-content">This
                    Week</span></button><span class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle></mat-button-toggle-group>
          </div>
        </div>
        <div class="flex flex-col flex-auto mt-4">
          <app-chart class="flex-auto max-w-fit max-h-fit"></app-chart>
        </div>
        <div class="grid grid-cols-2 border-t divide-x -m-6 mt-4 bg-gray-50 dark:bg-transparent">
          <div class="flex flex-col items-center justify-center p-6 sm:p-8">
            <div class="text-5xl font-semibold leading-none tracking-tighter"> 594 </div>
            <div class="mt-1 text-center text-secondary">New tasks</div>
          </div>
          <div class="flex flex-col items-center justify-center p-6 sm:p-8">
            <div class="text-5xl font-semibold leading-none tracking-tighter"> 287 </div>
            <div class="mt-1 text-center text-secondary">Completed tasks</div>
          </div>
        </div>
      </div>
      <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
          <div class="text-lg font-medium tracking-tight leading-6 truncate">Schedule</div>
          <div class="mt-3 sm:mt-0 sm:ml-2"><mat-button-toggle-group role="group" value="today"
              class="mat-button-toggle-group mat-button-toggle-group-appearance-standard"
              aria-disabled="false"><mat-button-toggle role="presentation" value="today"
                class="mat-button-toggle mat-button-toggle-checked mat-button-toggle-appearance-standard"
                id="mat-button-toggle-7"><button type="button" class="mat-button-toggle-button mat-focus-indicator"
                  id="mat-button-toggle-7-button" tabindex="0" aria-pressed="true"
                  name="mat-button-toggle-group-2"><span
                    class="mat-button-toggle-label-content">Today</span></button><span
                  class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle><mat-button-toggle
                role="presentation" value="tomorrow" class="mat-button-toggle mat-button-toggle-appearance-standard"
                id="mat-button-toggle-8"><button type="button" class="mat-button-toggle-button mat-focus-indicator"
                  id="mat-button-toggle-8-button" tabindex="0" aria-pressed="false"
                  name="mat-button-toggle-group-2"><span
                    class="mat-button-toggle-label-content">Tomorrow</span></button><span
                  class="mat-button-toggle-focus-overlay"></span><span matripple=""
                  class="mat-ripple mat-button-toggle-ripple"></span></mat-button-toggle></mat-button-toggle-group>
          </div>
        </div>
        <div class="flex flex-col mt-2 divide-y">
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Group Meeting</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">in 32 minutes</div>
                </div><!----><!---->
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="map-pin" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">Conference room 1B</div>
                </div><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Coffee Break</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">10:30 AM</div>
                </div><!----><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Public Beta Release</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">11:00 AM</div>
                </div><!----><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Lunch</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">12:10 PM</div>
                </div><!----><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Dinner with David</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">05:30 PM</div>
                </div><!----><!---->
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="map-pin" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">Magnolia</div>
                </div><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Jane's Birthday Party</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">07:30 PM</div>
                </div><!----><!---->
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="map-pin" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">Home</div>
                </div><!----><!---->
              </div>
            </div><button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered=""><span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"></span><mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini"><svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon><span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!---->
          <div class="flex flex-row items-center justify-between py-4 px-0.5 ng-star-inserted">
            <div class="flex flex-col">
              <div class="font-medium">Overseer's Retirement Party</div>
              <div
                class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                <div class="flex items-center ng-star-inserted"><mat-icon role="img"
                    class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color" aria-hidden="true"
                    data-mat-icon-type="svg" data-mat-icon-name="clock" data-mat-icon-namespace="heroicons_solid"><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                        clip-rule="evenodd"></path>
                    </svg></mat-icon>
                  <div class="ml-1.5 text-md text-secondary">09:30 PM</div>
                </div><!----><!---->
                <div class="flex items-center ng-star-inserted">
                  <mat-icon role="img" class="mat-icon notranslate icon-size-5 text-hint mat-icon-no-color"
                    aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="map-pin"
                    data-mat-icon-namespace="heroicons_solid">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                      fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                      <path fill-rule="evenodd"
                        d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z"
                        clip-rule="evenodd"></path>
                    </svg>
                  </mat-icon>
                  <div class="ml-1.5 text-md text-secondary">Overseer's room</div>
                </div><!----><!---->
              </div>
            </div>
            <button mat-icon-button="" mat-ripple-loader-uninitialized=""
              mat-ripple-loader-class-name="mat-mdc-button-ripple"
              class="mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
              mat-ripple-loader-centered="">
              <span
                class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">
              </span>
              <mat-icon role="img"
                class="mat-icon notranslate mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg"
                data-mat-icon-name="chevron-right" data-mat-icon-namespace="heroicons_mini">
                <svg
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" fit=""
                  height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg></mat-icon>
                <span class="mat-mdc-focus-indicator"></span><span
                class="mat-mdc-button-touch-target"></span></button>
          </div><!----><!---->
        </div>
      </div>
    </div>
    <section className="m-10">
      <div className="p-10 rounded-l-xl border border-blue-gray-100  rounded-xl bg-no-repeat lg:bg-contain bg-cover bg-right">
          <div
            variant="small"
            color="blue-gray"
            className="font-bold mb-2"
          >
            Upcoming Events
      </div>
          <div variant="h3" color="blue-gray">
            Tech Summit: Shaping Tomorrow
          </div>
          <div
            className="mt-2 mb-6 !text-base font-normal text-gray-500"
          >
            Prepare to be part of dynamic conversations that will redefine the
            boundaries.
        </div>
          <Button variant="outlined" className="flex-shrink-0">
            join now
          </Button>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
