
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 2px 0 2px;
}
 .mat-mdc-header-row {
  background: #6867be;
  color: white;
  height: 20px;
  white-space: nowrap;

}

.mat-mdc-table{
  background-color:#6867be;
  display: table
}

.mat-mdc-row {
  height: 20px;
  color: neutral-500;
 
  hover:border-[#6867be];
  hover:border-2;
  font-family: Quicksand;
  font-size: 0.75rem;
  line-height: 1rem;

}
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #6867be;
}
