<aside class="sidebar h-screen px-1 mx-auto bg-[#6867be] font-sideFont" >
  <header>
    <button
      type="button"
      class="sidebar-burger"
      (click)="toggleSidebar()"
    >
      <i class="bx bx-menu"></i>
    </button>
    <img src="/assets/img/logo.svg" />
  </header>

  <app-profile></app-profile>
  <ul>
    <li *ngFor="let item of menuItems" >
      <button type="button" (click)="onClick($event, item)" [routerLink]="item.url"
     
      >
        <i [class]="item.icon"></i>
        <p>{{ item.name }}</p>
        <i class='bx bx-chevron-down' [ngClass]="{'-rotate-90': item.active}"  *ngIf="item.subMenu"></i>
      </button>
      <div class="sub-menu" [style.height]="item.active ? item.subMenuHeight : '0px'">
        <ul >
          
            <li *ngFor="let subItem of item.subMenu" >
              <button type="button" routerLink={{subItem.url}} 
             class="focus-within:border-l-4 focus-within:border-l-black focus-within:shadow-sm border-gray-800 shadow-md hover:shadow-lg ">
                <i [class]="subItem.icon"></i>
                {{ subItem.name }}</button>
            </li>
        </ul>
      </div>
    </li>
  </ul>
</aside>



